:root {
    --primary-gradient: linear-gradient(to bottom, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
    --very-light-gray-blue: hsl(240, 78%, 98%);
    --light-gray-blue: hsl(234, 14%, 74%);
    --gray-blue: hsl(233, 13%, 49%);
    --dark-gray-blue: hsl(232, 13%, 33%);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--very-light-gray-blue);
    background-image: url('./images/bg-top.svg');
    background-size: 110%;
    background-position: left;
    color: var(--gray-blue);
}

.page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.our-pricing {
    margin: auto;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
}

.package-toggle {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.package-toggle>* {
    padding-left: 10px;
    padding-right: 10px;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: var(--primary-gradient);
}

input:checked+.slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.content-bottom {
    width: 60%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.card {
    padding: 20px;
    flex: 1;
    height: 525px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.card-main {
    flex: 1.1;
    height: 575px;
    z-index: 100;
    background: var(--primary-gradient);
    color: white;
}

.price {
    font-size: 50px;
    font-weight: 900;
}

.line-break {
    height: 1px;
    background: var(--dark-gray-blue);
}

button {
    margin-top: 20px;
    background: var(--primary-gradient);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: ease-in-out .2s;
}

button:hover {
    cursor: pointer;
    padding: 15px;
}

.card-main>button {
    color: black;
    background: white;
}

.card-main>.line-break {
    background: white;
}

.attribution {
    position: fixed;
    left: 50%;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}