:root {
    --primary-gradient: linear-gradient(to bottom, hsl(236, 72%, 79%) 0%, hsl(237, 63%, 64%) 100%);
    --very-light-gray-blue: hsl(240, 78%, 98%);
    --light-gray-blue: hsl(234, 14%, 74%);
    --gray-blue: hsl(233, 13%, 49%);
    --dark-gray-blue: hsl(232, 13%, 33%);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    background-image: url('./images/bg-top.svg');
    background-size: 110%;
    background-position: left;
    color: var(--gray-blue);
}

.page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.package-toggle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background: var(--primary-gradient);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.content-top,
.content-bottom {
    border: 1px solid red;
}

.attribution {
    position: fixed;
    left: 50%;
    bottom: 0;
    font-size: 11px;
    text-align: center;
    transform: translateX(-50%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}